<div class="container">
<div class="row p-2">
    <div class="col" style="background-color: white;">
      <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-lg-4 col-md-6 col-sm-12 p-2" *ngFor="let item of items">
      <nb-card>
        <nb-card-body>
          <div class="row" style="cursor: pointer;">
            <div class="col-10 d-flex align-items-end">
              <span class="total">{{item.total}}</span>
            </div>
            <div class="col-2" style="padding: .5em">
              <span class="logo" [style]="{backgroundColor: item.color}">
                <i [ngClass]="item.icon"></i>
              </span>
            </div>&nbsp;
          </div>
          <div class="row pt-1">
            <span class="note">{{item.note}}</span>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>